.traffic {
  border-radius: 50%;
  height : 20px;
  border: 1px solid black;
  width: 50px;
  display: flex; 
  flex-direction: column;
}

.red {
  background-color: red
}
.green {
  background-color: green
}
.yellow {
  background-color: yellow
}
